{
  "ConnectionStrings": {
    "DefaultConnection": "Server=server;Database=userDatabase;User ID=userID;Password=abc;"

  },

  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}